@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 >Health centers are community-based and patient-directed organizations that deliver comprehensive, culturally competent, high-quality primary health care services to the nation’s most vulnerable individuals and families, including people experiencing homelessness, agricultural workers, residents of public housing, and veterans.

Health centers integrate access to pharmacy, mental health, substance use disorder, and oral health services in areas where economic, geographic, or cultural barriers limit access to affordable health care. By emphasizing coordinated care management of patients with multiple health care needs and the use of key quality improvement practices, including health information technology, health centers reduce health disparities.</h4>
    
<h4>Health centers receive Health Center Program federal grant funding to improve the health of underserved and vulnerable populations. Some health centers receive funding to focus on special populations, including individuals and families experiencing homelessness, migratory and seasonal agricultural workers, and residents of public housing. There are also health centers that meet all Health Center Program requirements but do not receive federal award funding. These are called Health Center Program look-alikes. The majority of health centers’ operating funds come from Medicaid, Medicare, private insurance, patient fees, and other resources.</h4>
</div>
